

   <h3>ask your coach anything!</h3>



<form action="/answer" method="get" class = "form">
  <input type="text" name="ask" class="form" placeholder="What is your question?">
  <input  class="btn btn-primary" type="submit">
</form>
